h1,nav,li{
    display: inline-block;
}

h1,li{
    color:white;
}

header{
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
}

body{
    background-color: rgb(230, 230, 230);
    margin: 0;
}